.item-card{
  display: inline-block;
  margin-right: 35px;
  border: 1px solid #ccc;
  width: 30%;
  border-radius: 10px;
  padding-bottom: 1em;
}
.item-title{
  text-align: center;
}
.img-thumbnail{
  margin-left: 90px;
}
.item-card a{
  text-align: center;
}
.artist-btn{
  margin-top: 10px;
  margin-left: 6em;
}