.item-album{
  display: inline-block;
  margin-right: 35px;
  border: 1px solid #ccc;
  width: 30%;
  border-radius: 10px;
  vertical-align: top;
  height: 250px;
}
.item-album h3 {
  text-align: center;
}